@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --pink-light: #bc5fbb;
    --pink-dark: #9e4792;
}

/* Configuraciones globales */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.subtitle{
    font-size: 1.5em;
    font-weight: 600;
}

.info{
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0;
}



/* Header */

header{
    padding: 2em 1em;
    background-color: var(--pink-dark);
    color: #fff;
}

.navigation{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.logo{
    left: 1em;
    position: absolute;
    width: 100px;
    border-radius: 50%;
}

nav{
    width: 80vw;
    margin: 2em 0;
    background-color: var(--pink-light);
}

nav ul li{
    display: inline-block;
    padding: 1em;
}

nav ul li a{
    color: #fff;
}

nav ul li a:hover{
    text-decoration: underline;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section{
    width: 70%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: var(--pink-light);
}

/* Contenidos de las pagina */

article{
    margin: 2em 0;
    padding: 1em;
    max-width: 70%;
    width: 100%;
    height: auto;
    background-color: var(--pink-dark);
    color: #fff;
}


/* Seccion de los pasteles */

.pasteles__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.pasteles__container__card{
    width: 100%;
    height: 100%;
    background-color: var(--pink-light);
    color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.pasteles__img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    object-fit: cover;
}

.pasteles__img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* Seccion de los ingredientes */
.ingredientes__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.ingredientes__img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    max-height: 200px;
}

/* Tabla de precios */


table{
    text-align: center;
    margin: auto;
}

tr:nth-child(2n){
    background-color: var(--pink-light);
}

td{
    padding: 0 1.5em;
}


/* Seccion del aside */

aside{
    /* position: sticky;
    top: 7.3em; */
    padding: 1em;
    width: 30%;
    background-color: #828dab;
    color: #fff;
    max-height: 700px;
}

.maps{
    width: 100%;
    height: 70%;
    border-radius: 1em;
    object-fit: cover center;
}

footer{
    padding: 1em;
    text-align: center;
}

