/* estilos de la pagina */

body{
    background-color: #5f82f2;
}

header{
    background-color: #fa58f4;
}

nav{
    background-color: #efa7f2;
}

section{
    background-color: #efa46b;
}

article{
    background-color: #ef356b;
}

footer{
    background-color: #ef5182;
}